@import './breakpoints';
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');

@mixin container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 30px;
}

@font-face {
  font-family: "Futura-LT-W01-Light";
  src: url("./fonts/futura-light.eot?#iefix");
  src: url("./fonts/futura-light.eot?#iefix") format("eot"),
  url("./fonts/futura-light.woff2") format("woff2"),
  url("./fonts/futura-light.woff") format("woff"),
  url("./fonts/futura-light.ttf") format("truetype"),
  url("./fonts/futura-light.svg#14d6bf5d-15f1-4794-b18e-c03fb9a5187e") format("svg");
}

@font-face {
  font-family: 'avenircondensedhandCnhand';
  src: url('./fonts/avenircondensedhand-webfont.woff2') format('woff2'),
  url('./fonts/avenircondensedhand-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avienir-Regular";
  src: url("./fonts/Avenir-Regular.eot?#iefix");
  src: url("./fonts/Avenir-Regular.eot?#iefix") format("eot"),
  url("./fonts/Avenir-Regular.woff2") format("woff2"),
  url("./fonts/Avenir-Regular.woff") format("woff"),
  url("./fonts/Avenir-Regular.ttf") format("truetype"),
  url("./fonts/Avenir-Regular.svg#AvenirNextLTProRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

//$font-family-light: 'Futura-LT-W01-Light',sans-serif;
$font-family-light: 'avenircondensedhandCnhand', sans-serif;
$font-family-regular: 'Avienir-Regular', sans-serif;
$font-family-amatic: 'Amatic SC', cursive;
$black: rgb(7, 8, 31);


html,
body {
  font-family: $font-family-light;
  font-size: 18px;
  font-weight: bolder;
  margin: 0;
  max-width: 100vw;
  //overflow-x: hidden;
}

body {
  //overflow: hidden;
}

h2 {
  font-family: $font-family-amatic;
  font-size: 2.7rem;
  font-weight: 700;
}

h3 {
  font-family: $font-family-amatic;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.55rem;
}

#header {

  @include container();

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  min-height: 96px;

  h1 {
    margin: 0;
    img {
      width: 112px;
      height: 50px;
      object-fit: contain;
    }
  }

  nav {
    a {
      font-family: $font-family-amatic;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 1.3rem;
      text-decoration: none;
      color: $black;
      padding: 0 15px;

      @include media-breakpoint-down(md) {
        padding: 0 7.5px;
      }

      @include media-breakpoint-down(sm) {
        padding: 0 5px;
      }
    }
  }

}

#main {

  text-align: center;

  & > section {

    .inner {
      @include container();
      margin: 40px auto;
    }

    p,
    form {
      max-width: 640px;
      margin: 0 auto;
    }

    p {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &#hero .inner {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      box-sizing: border-box;

      @include media-breakpoint-down(sm) {
        align-items: flex-start;
      }

      .over-head {
        width: 50vw;
        height: 30vw;
        background: url('./images/heads/generic.jpg') no-repeat center;
        background-size: contain;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 500px;

        p {
          width: 60%;
          margin: 0 0 50px auto;
          font-family: $font-family-light;
          font-weight: bolder;
          font-size: 30px;
        }

        @include media-breakpoint-down(sm) {
          width: 80%;
          height: 80vw;
          background-position: left;
          min-height: 300px;

          p {
            margin-right: -40px;
            margin-top: -30px;

          }
        }
      }

      margin-bottom: 90px;

      &:after,
      &:before {
        position: absolute;
        top: 100%;
        content: ' ';
        height: 90px;
        background: url('./images/grass.svg') repeat;
        display: block;
        width: 100%;


        @include media-breakpoint-down(sm) {
          left: 0;
          width: 100vw;
        }
      }

      &:before {
        transform: scaleX(-1);

        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }

    &#about {
      ul {
        list-style: none;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        @include media-breakpoint-down(md) {
          padding: 0;
        }

        li {

          font-family: $font-family-amatic;
          font-size: 1.5rem;
          color: #585856; //#999997; // Use #585856 for accessibility
          text-align: center;
          vertical-align: middle;

          & + li:before {
            content: '|';
            padding: 0 10px;

            @include media-breakpoint-down(sm) {
              content: ' ';
            }
          }

        }
      }
    }

    &#services {

      #services-inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;

        @include media-breakpoint-down(md) {
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
        }

        section {
          border: 0 solid rgba(50, 65, 88, 1);
          background-color: rgba(255, 255, 255, 1);
          border-radius: 6px;
          box-shadow: 0px -5px 24px 0px rgba(153,153,151,0.15);

          margin: 0 15px;
          padding: 15px;

          img {
            width: 40px;
          }

          @include media-breakpoint-down(md) {
            margin: 0 15px;
            box-shadow: none;
            border: none;
          }
        }

      }

    }

    &#services-continued {
      z-index: 1;

      p {
        z-index: 1;
      }

      img#rocket {
        width: 150px;
        z-index: -1;
        position: relative;
        display: inline-block;
        opacity: 0;
        transform: rotate(-90deg) translate(-50vw, 10vw);

        &.animation-trigger-in-view {
          transition: all 2s;
          opacity: 1;
          transform: rotate(0deg) translate(0, 0);
        }
      }

    }

    &#contact {

      .contact-fluff {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        @include media-breakpoint-down(md) {
          display: none;
        }

        .contact-indicator {
          display: inline-block;
          width: 1px;
          height: 130px;
          border-left: 1px dashed rgba(207, 200, 200, 1);
          margin: 0;
          padding: 0;
        }

        .contact-in-clouds {
          width: 300px;
        }

        .clouds {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: block;
          width: 100vw;
          max-width: 100vw;
          overflow-x: hidden;
          overflow-y: hidden;
          height: 100%;

          .cloud-1,
          .cloud-2,
          .cloud-3,
          .cloud-4,
          .cloud-5 {
            position: absolute;
            top: 0;
            right: 100%;
            animation: cloud 20s linear 1s infinite running;
            z-index: 100;
          }

          .cloud-1 {
            animation-delay: -4s;
            animation-duration: 15s;
            top: 1%;
          }

          .cloud-2 {
            animation-delay: -1s;
            animation-duration: 10s;
            top: 5%;
          }

          .cloud-3 {
            animation-delay: 5s;
            animation-duration: 22s;
            top: 50%;
            z-index: -1;
          }

          .cloud-4 {
            animation-delay: -8s;
            animation-duration: 18s;
            top: 75%;
          }

          .cloud-5 {
            animation-delay: -2s;
            animation-duration: 12s;
            top: 55%;
          }

          @keyframes cloud {
            0% {
              right: 100%;
            }
            100% {
              right: -30%
            }
          }

          .cloud-1,
          .cloud-4 {
            background: url('./images/clouds/cloud-1.svg') no-repeat;
            background-size: contain;
            width: 89px;
            height: 89px;
          }

          .cloud-2,
          .cloud-5 {
            background: url('./images/clouds/cloud-2.svg') no-repeat;
            background-size: contain;
            width: 111px;
            height: 111px;
          }

          .cloud-3 {
            background: url('./images/clouds/cloud-3.svg') no-repeat;
            background-size: contain;
            width: 129px;
            height: 129px;
          }
        }



      }

      form {

        label {

          &.label-upper-left {
            position: absolute;
            top: -70px;
            left: -40px;

            &:after {
              position: absolute;
              left: calc(100% + 5px);
              top: -5px;
              content: ' ';
              background: url('./images/form-arrow/arrow.svg');
              background-size: contain;
              width: 80px;
              height: 80px;
            }
          }

          &.label-upper-right {
            position: absolute;
            top: -80px;
            right: -80px;

            &:after {
              position: absolute;
              right: 10%;
              top: calc(100% + 8px);
              content: ' ';
              background: url('./images/form-arrow/arrow.svg');
              transform: rotate(90deg);
              background-size: contain;
              width: 80px;
              height: 80px;
            }
          }

          &.label-left {
            position: absolute;
            top: 95px;
            left: -100px;

            &:after {
              position: absolute;
              left: 15px;
              bottom: 100%;
              content: ' ';
              background: url('./images/form-arrow/arrow.svg');
              background-size: contain;
              width: 80px;
              height: 80px;
              transform: rotate(-80deg);
            }
          }

          &.label-right {
            position: absolute;
            top: 15%;
            left: calc(100% + 65px);

            &:after {
              position: absolute;
              left: -50px;
              top: calc(100% - 20px);
              content: ' ';
              background: url('./images/form-arrow/arrow.svg');
              background-size: contain;
              width: 80px;
              height: 80px;
              transform: rotate(-45deg) scaleX(-1) scaleY(-1);
            }
          }

          @mixin screen-reader-label {
            // This will allow screen readers to utilise the labels
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0,0,0,0);
            border: 0;
          }

          &:not(.label-upper-left):not(.label-upper-right):not(.label-left):not(.label-right) {
            @include screen-reader-label;
          }

          @include media-breakpoint-down(md) {
            @include screen-reader-label;
          }

        }

        textarea, input {
          font-family: $font-family-light;
          appearance: none;
          padding: 5px;
          background-color: rgba(255, 255, 255, 1);
          border: 2px solid rgba(7, 8, 31, 1);
          color: #07081F;
          margin: 7px;
          width: 100%;
          min-height: 36px;
          box-sizing: border-box;
          border-radius: 0;
          max-width: 100%;

          @include media-breakpoint-down(md) {
            font-family: $font-family-regular;
          }

          &::placeholder {
            font-family: $font-family-light;
            color: rgba(255, 255, 255, 1);

            @include media-breakpoint-down(md) {
              font-family: $font-family-regular;
              color: #07081F;
            }
          }
        }

        textarea {
          resize: none;
        }

        .form-row {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: flex-start;
          position: relative;

          textarea, input {
            width: 50%;
            flex: 1 50%;
            box-sizing: border-box;
          }
        }

        button {
          appearance: none;
          border: none;
          cursor: pointer;
          background-color: rgba(7, 8, 31, 1);
          color: #FCFCFC;
          width: 100%;
          min-height: 45px;
          display: block;
          padding: 5px;
          margin: 7px;
          max-width: 100%;
        }

      }

    }

  }

}

#footer {

  background: rgb(0, 0, 0);
  width: 100%;

  .footer-inner {
    @include container();

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    min-height: 96px;

    .contact-details {
      font-size: 0.8rem;
      font-weight: lighter;
      font-family: sans-serif;

      @include media-breakpoint-down(md) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      a {
        text-decoration: none;
        color: white;
      }

      & > * {
        box-sizing: border-box;

        padding: 5px 0;

        & + * {

          &:before {
            content: '|';
            padding: 0 12px 0 10px;

            @include media-breakpoint-down(md) {
              display: none;
            }
          }
        }
      }

    }


    #back-to-top {

      position: absolute;
      right: 0;


      @include media-breakpoint-down(md) {
        right: 15px;
      }

      svg {
        width: 20px;

        path {
          fill: rgb(52, 209, 182);
        }
      }

    }
  }



}

.parallax-mirror {

  @include media-breakpoint-down(md) {
    display: none !important;
  }

  img[src*="grid"] {
    opacity: 0.08;
  }

  img[src*="cloud"] {
    opacity: 0.3;
  }

}
